:root {
  /*----===< Font sizes >===----*/

  --font-size-1: clamp(0.8438rem, 0.7459rem + 0.4891vw, 1.125rem);
  --font-size-2: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);
  --font-size-3: clamp(1.4994rem, 1.3255rem + 0.8696vw, 1.9994rem);
  --font-size-4: clamp(1.9988rem, 1.7668rem + 1.1598vw, 2.6656rem);
  --font-size-5: clamp(2.6644rem, 2.3552rem + 1.5457vw, 3.5531rem);
  --font-size-6: clamp(3.5519rem, 3.1399rem + 2.0598vw, 4.7363rem);
  --font-size-7: clamp(4.735rem, 4.1861rem + 2.7446vw, 6.3131rem);

  /*----===< Spacing >===----*/

  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-l: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-2xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  --space-3xl: clamp(9rem, 8.6522rem + 1.7391vw, 10rem);

  /* One-up pairs */
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  --space-m-l: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-l-xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-xl-2xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
  --space-2xl-3xl: clamp(6.75rem, 5.6196rem + 5.6522vw, 10rem);

  /*----===< Colors >===----*/

  --c-pure-white: #fff;
  --c-white: #eeeeff;
  --c-light-blue: #00f4e8;
  --c-blue: #1e589a;
  --c-dark-blue: #04192f;
  --c-black: #010910;
  --c-cyan: hsl(196, 79%, 55%);
  --c-blue-transparent: #1e589a8f;

  --color-background: var(--c-dark-blue);
  --color-text: var(--c-white);

  --button-bg-primary: transparent;
  --button-bg-primary-hover: var(--c-light-blue);
  --button-color-text-primary: var(--c-white);
  --button-color-text-pirmary-hover: var(--c-black);
  --button-border-color-primary: var(--white);
  --button-border-color-primary-hover: var(--c-light-blue);

  --button-bg-accent: var(--c-light-blue);
  --button-bg-accent-hover: var(--c-cyan);
  --button-color-text-accent: var(--c-black);
  --button-color-text-accent-hover: var(--c-white);
  --button-border-color-accent: var(--c-light-blue);
  --button-border-color-accent-hover: var(--c-cyan);

  --nav-background-color: var(--c-dark-blue);
  --nav-menu-background-color: var(--c-dark-blue);
  --nav-hamburger-color: var(--c-white);
  --nav-link-color: var(--c-white);
  --nav-border-color: var(--c-black);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}
